@charset "utf-8";
/* CSS Document */

a {
text-decoration:none;
color:#1A237E;
}

table {
color:#000000;
font-size:16pt;
}

a:hover {
color:#4A148C;
cursor:pointer
}

body {
margin:0px;
padding:0px;
background-color:#FFFFFF;
color:#FFFFFF;
font-size:16pt;
font-family:century gothic;
}

h0 {
margin:5px;
padding:10px;
font-size:40px;
font-weight:normal;
}

h1 {
margin:0px;
padding:10px;
font-size:36px;
font-weight:normal;
}

h2 {
margin:0px;
padding-bottom: 5px;
font-size:20px;
font-weight:normal;
}

img {
border:none;
}

th, td {
    padding: 10px;
}

img.thumbs {
  -moz-box-shadow:    6px 6px 8px 0px #ccc;
  -webkit-box-shadow: 6px 6px 8px 0px #ccc;
  box-shadow:         6px 6px 8px 0px #ccc;
}

a:hover img.thumbs {
  -moz-box-shadow:    6px 6px 8px 0px #ccc;
  -webkit-box-shadow: 6px 6px 8px 0px #ccc;
  box-shadow:         6px 6px 8px 0px #aaa;
}

.half-line {
  line-height: .1em;
}

.shadow {
  -moz-box-shadow:    8px 8px 6px 0px #ccc;
  -webkit-box-shadow: 8px 8px 6px 0px #ccc;
  box-shadow:         8px 8px 6px 0px #ccc;
}

.center {
text-align:center;
}

.right {
text-align:right;
width:100%;
}

.italic {
font-style:italic;
}

.italiccenter {
font-style:italic;
text-align:center;
}

.italicright {
font-style:italic;
text-align:right;
}

.normal {
font-style:normal;
}

.valign {
vertical-align:top;
}

table.thumbs {
width:100%;
text-align:center;
}

td.thumbs {
width:25%;
}

table.poems {
width:100%;
}

td.poems {
width:25%;
vertical-align:top;
}

.abstract a{
    color: black;
    outline: 0;  
    text-decoration: none;
    border-bottom: 1px dotted;
}

.abstract.hidden span{
    display: none;
}


#container {
width:800px;
margin:3px auto;
font-size:14px;
position: relative;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
overflow: hidden;
}

#nav {
overflow:hidden;
width:800px;
background-color: #4A148C;
}

#nav ul {
list-style:none;
text-align: center;
margin:0px;
padding:0px;
position:relative;
}

#nav ul li {
display:inline-block;
list-style:none;
margin:0px;
padding:0px;
}

#nav ul li a {
display:block;
margin:0 0 0 1px;
padding:0px 15px;
color:#FFF;
text-decoration:none;
line-height:30px;
font-size:18px;
font-weight:bold;
}

#nav ul li a:hover {
color:#F5EEF8;
}

#banner a {
color: #333
}

#banner a:hover {
color: #333
}

#banner {
color:#333;
background-color:#FFFFFF;
margin:0px;
text-align: center;
font-family:century gothic;
background-position: 0px -270px ;
height:80px;
}

#name {
position: absolute;
top:70px;
left:0px;
float: left;
background-image:url(black50.png);
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
}

#name p {
margin:0px;
padding:5px 10px;
text-transform: uppercase;
font-size:14px;
padding-left:2em;
}

#page {
background-color:#FFFFFF;
color: #333;
overflow:auto;
padding:10px 0px;
clear:both;
}

#content {
margin-left:15px;
margin-right:15px;
line-height:160%;
font-size:12pt;
}

#quote {
position:relative;
float:left;
padding:10px;	
color:#fff;
text-align:left;
font-style: italic;
}

#footer {
float:right;
padding:10px;	
color:#fff;
}

#photo {
position:relative;
float:left;
padding-top:0px;
padding-bottom:10px;
padding-right:25px;
padding-left:10px;	
}

#previous{
        float:left;
}

#next{
        float:right;
}
